<!-- Sorting Controls -->
<div class="relative mb-4">
  <%= render 'shared/sort_controls' %>
</div>

<!-- Posts List -->
<div id="posts" class="space-y-6 mb-10">
  <% @posts.each do |post| %>
    <%= render partial: 'posts/post_list', locals: { post: post } %>
  <% end %>
</div>

<!-- Pagination Links -->
<div class="flex justify-center mb-10">
  <%= paginate @posts, remote: true %>
</div>

